@import 'tailwindcss';

@theme {
  --color-*: initial;
  --color-transparent: transparent;
  --color-current: currentColor;
  --color-black: #000;
  --color-white: #fff;

  --color-slate-50: #f8fafc;
  --color-slate-100: #f1f5f9;
  --color-slate-200: #e2e8f0;
  --color-slate-300: #cbd5e1;
  --color-slate-400: #94a3b8;
  --color-slate-500: #64748b;
  --color-slate-600: #475569;
  --color-slate-700: #334155;
  --color-slate-800: #1e293b;
  --color-slate-900: #0f172a;
  --color-slate-950: #020617;

  --color-stone-50: #fafaf9;
  --color-stone-100: #f5f5f4;
  --color-stone-200: #e7e5e4;
  --color-stone-300: #d6d3d1;
  --color-stone-400: #a8a29e;
  --color-stone-500: #78716c;
  --color-stone-600: #57534e;
  --color-stone-700: #44403c;
  --color-stone-800: #292524;
  --color-stone-900: #1c1917;
  --color-stone-950: #0c0a09;

  --animate-glow: glow 2s ease-in-out infinite alternate;

  --font-sans: var(--font-itc-willow);

  @keyframes glow {
    0% {
      text-shadow:
        0 0 5px #fff,
        0 0 10px #ffe798,
        0 0 30px #ffe798,
        0 0 50px #ffe798,
        0 0 70px #ffe798;
    }
    50% {
      text-shadow:
        0 0 5px #fff,
        0 0 20px #9ff4f7,
        0 0 40px #9ff4f7,
        0 0 60px #9ff4f7,
        0 0 80px #9ff4f7;
    }
    100% {
      text-shadow:
        0 0 5px #fff,
        0 0 30px #bb98ff,
        0 0 50px #bb98ff,
        0 0 70px #bb98ff,
        0 0 90px #bb98ff;
    }
  }
}

html,
body {
  min-height: 100vh;
  min-height: 100svh;
}
